@import "../_variables";
@import "../_mixins";

.footer {
  background-color: #000000;

  &__wrapper {
    @include flex(column, center, center);
    margin: 0 auto;
  }

  &__icons {
    @include flex(row, center, center);
  }

  &__icon {
    @include flex(row, center, center);
    width: 36px;
    height: 35px;
    border: 2px solid #ffff;
    border-radius: 50%;
    margin: 0 3px;

    &--rss {
      border: 2px solid $color-rss;
    }

    &--facebook {
      border: 2px solid $color-facebook;
    }

    &--twitter {
      border: 2px solid $color-twitter;
    }

    &--dribble {
      border: 2px solid $color-dribble;
    }

    &--pinterest {
      border: 2px solid $color-pinterest;
    }
  }


}

//@media (min-width: 320px) {
  .footer {
    padding: 40px 0 50px;

    &__wrapper {

      width: 303px;
    }

    &__icons {
      margin: 25px 0;
    }
    &__contacts {
      @include flex(column, center, center);
    }
  }

//}

@media (min-width: 768px) {
  .footer {
    padding: 60px 0;

    &__wrapper {
      width: 684px;
    }

    &__icons {
      margin: 35px 0;
    }
    &__contacts {
      @include flex(row, center, center);

    }
  }
}