@import "../_variables";
@import "../mixins";

.header {
  position: relative;
  width: 100%;

  .container {
    position: relative;
  }
}

.nav {
  &__links {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 400;
    color: $color-main;
    margin: 0 17px;
    letter-spacing: 1.1px;

    &:hover {
      color: rgba(87, 164, 164, 1);
      cursor: pointer;
    }
  }
}

  .header {
    height: 80px;
  }
  .nav {
    &--desktop {
      display: none;
    }

    &--mobile {
      @include flex(column, center, flex-start);
      position: absolute;
      top: 60px;
      right: 25px;
      background-color: #F5F5F5;
      width: 182px;
      padding: 0;
      margin: 0;
      transform: translateX(1000%);
      transition: transform .3s ease-in-out;
      z-index: 2;
    }

    &--mobile.active {
      transform: translateX(0);
    }

    &--mobile li {
      height: 32px;
      width: 100%;
      @include flex(row, center, center);
    }

    &__links--mobile {
      @include flex(row, flex-start, center);
      width: 100%;
      height: 100%;
      padding: 7px 0 3px 15px;
      margin: 0;
    }

    &__links--mobile:hover {
      background-color: #E5E5E5;
    }
  }
  .burger__toggler {
    @include flex(row, center, center);
    width: 40px;
    height: 40px;
    background-color: #000;
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 25px;
    cursor: pointer;
  }

  .hamburger {
    display: block;
    position: relative;
  }
  .hamburger,
  .hamburger:before,
  .hamburger:after {
    width: 17px;
    height: 2px;
    background: #F5F5F5;
    transition: transform 350ms ease-in-out, opacity 200ms linear;
  }
  .hamburger:before,
  .hamburger:after {
    content: '';
    position: absolute;
    left: 0;
  }
  .hamburger:before {
    bottom: 4px;
  }
  .hamburger:after {
    top: 4px;
  }

  .hamburger.active {
    transform: rotate(45deg);
  }
  .hamburger.active:before {
    opacity: 0;
  }
  .hamburger.active:after {
    transform: rotate(90deg) translate(-4px);
  }

@media (min-width: 768px) {
  .header {
    height: auto;
  }
  .nav {
    &--desktop {
      @include flex(row, center, center);
      margin: 40px 0 40px;
    }

    &--desktop li {
      flex-shrink: 0;
    }

    &--mobile {
      display: none;
    }

    &__links {
      margin: 0 34px 0 0;
    }
  }
  .burger__toggler {
    display: none;
  }
}

@media (min-width: 1200px) {
  .nav {
    &--desktop {
      margin: 45px 0 50px;
    }

    &__links {
      margin: 0 34px;
    }
  }

}