@import "../_variables";
@import "../mixins";

.hero-block {
  @include flex(row, center, center);
  &__img {
    width: 100%;
    @include flex(row, center, center);
  }
}

  .hero-block {
    padding: 0 25px;
  }

@media (min-width: 768px) {
  .hero-block {
    margin: 0;
    padding: 0 80px;
  }
}


@media (min-width: 1200px) {
  .hero-block {
    &__img {
      margin: 0 auto;
    }
  }

}