@import "../variables";
@import "../mixins";

.instagram {
  &__wrapper {
    display: grid;
  }
  &__item {
    height: 301px;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;

    &--first {
      background-image: url("./img/inst_shot_1.png");
    }

    &--second {
      background-image: url("./img/inst_shot_2.png");
    }

    &--third {
      background-image: url("./img/inst_shot_3.png");
    }

    &--fourth {
      background-image: url("./img/inst_shot_4.png");
    }
  }
}

//@media (min-width: 320px) {
  .instagram {
      padding: 40px 0;
    &__wrapper {
      width: 100%;
      margin-top: 15px;
      
    }
    &__item:first-child {
      display: block;
    }
  }
//}
@media (min-width: 768px) {
  .instagram {
      padding: 50px 0;
      background-color: $color-background;
    &__container {
      margin: 0 auto;
    }
    &__wrapper {
      margin-top: 35px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 10px;
    }
    &__item {
      display: block;
      height: 249px;
    }
    &__item:last-child {
      display: none;
    }
    //&__item:first-child {
    //  display: block;
    //}
  }
}

@media (min-width: 1200px) {
  .instagram {
    &__wrapper {
      margin-top: 25px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    &__item {
      height: 285px;
    }
    &__item:last-child {
      display: block;
    }
    //&__item:first-child {
    //  display: block;
    //}
  }
}
