@import "../variables";
@import "../mixins";

.posts {
  &__items {
    padding-top: 25px;
  }

  &__description {
    @include flex(column, center, flex-start)
  }
}

//@media (min-width: 320px) {
  .posts {
    padding: 40px 0;

    &__items {
      @include flex(column, center, flex-start);
      row-gap: 28px;
    }

    &__item:last-child {
      display: none;
    }

    &__header {
      margin: 10px 0;
    }
  }
//}

@media (min-width: 768px) {
  .posts {
    padding: 60px 0;

    &__item {
      @include flex(row, flex-start, center);
      column-gap: 20px;
    }

    &__item:last-child {
      @include flex(row, flex-start, center);
      column-gap: 20px;;
    }
  }
}

@media (min-width: 1200px) {
  .posts {
    padding: 70px 0;

    &__items {
      width: 100%;
      @include flex(row, space-between, center, wrap);
      column-gap: 25px;
    }

    &__item:nth-child(2n+1) {
      order: 1;
    }

    &__item:nth-child(2n) {
      order: 2;
    }
  }
}

