.posts__subheader span {
  margin: 0 8px;
}

.instagram__subheader {
  font-size: 12px;
  font-weight: 700;
  color: rgb(78, 78, 78);
}

.footer__txt, .footer__address, .footer__tel, .footer__email {
  color: rgb(185, 185, 185);
  font-weight: 400;
  text-align: center;
}
.footer__address span {
  margin-left: 10px;
}
.footer__tel span {
  margin-left: 10px;
}

.section__header {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}
.section__header--dark {
  color: rgb(78, 78, 78);
}
.section__header--light {
  color: white;
}

.posts__header {
  font-size: 14px;
  font-weight: 700;
  color: rgb(78, 78, 78);
}

.posts__subheader {
  font-size: 11px;
  font-weight: 400;
  color: rgb(124, 124, 124);
}

.posts__txt {
  font-size: 14px;
  font-weight: 400;
  color: rgb(92, 92, 92);
  display: none;
  margin-top: 13px;
}

.instagram__subheader {
  display: none;
  text-transform: uppercase;
}

.footer__txt {
  font-size: 12px;
  line-height: 20px;
  margin-top: 8px;
}
.footer__address, .footer__tel, .footer__email {
  font-size: 14px;
  line-height: 24px;
}

@media (min-width: 768px) {
  .posts__txt {
    display: block;
  }
  .instagram__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
  .instagram__subheader {
    display: block;
  }
  .footer__txt {
    font-size: 16px;
    line-height: 28px;
    margin-top: 22px;
  }
  .footer__address, .footer__tel, .footer__email {
    margin-right: 10px;
  }
}
.header {
  position: relative;
  width: 100%;
}
.header .container {
  position: relative;
}

.nav__links {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 400;
  color: rgb(78, 78, 78);
  margin: 0 17px;
  letter-spacing: 1.1px;
}
.nav__links:hover {
  color: rgb(87, 164, 164);
  cursor: pointer;
}

.header {
  height: 80px;
}

.nav--desktop {
  display: none;
}
.nav--mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: absolute;
  top: 60px;
  right: 25px;
  background-color: #F5F5F5;
  width: 182px;
  padding: 0;
  margin: 0;
  transform: translateX(1000%);
  transition: transform 0.3s ease-in-out;
  z-index: 2;
}
.nav--mobile.active {
  transform: translateX(0);
}
.nav--mobile li {
  height: 32px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.nav__links--mobile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  padding: 7px 0 3px 15px;
  margin: 0;
}
.nav__links--mobile:hover {
  background-color: #E5E5E5;
}

.burger__toggler {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 40px;
  height: 40px;
  background-color: #000;
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 25px;
  cursor: pointer;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger:before,
.hamburger:after {
  width: 17px;
  height: 2px;
  background: #F5F5F5;
  transition: transform 350ms ease-in-out, opacity 200ms linear;
}

.hamburger:before,
.hamburger:after {
  content: "";
  position: absolute;
  left: 0;
}

.hamburger:before {
  bottom: 4px;
}

.hamburger:after {
  top: 4px;
}

.hamburger.active {
  transform: rotate(45deg);
}

.hamburger.active:before {
  opacity: 0;
}

.hamburger.active:after {
  transform: rotate(90deg) translate(-4px);
}

@media (min-width: 768px) {
  .header {
    height: auto;
  }
  .nav--desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: 40px 0 40px;
  }
  .nav--desktop li {
    flex-shrink: 0;
  }
  .nav--mobile {
    display: none;
  }
  .nav__links {
    margin: 0 34px 0 0;
  }
  .burger__toggler {
    display: none;
  }
}
@media (min-width: 1200px) {
  .nav--desktop {
    margin: 45px 0 50px;
  }
  .nav__links {
    margin: 0 34px;
  }
}
.hero-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.hero-block__img {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.hero-block {
  padding: 0 25px;
}

@media (min-width: 768px) {
  .hero-block {
    margin: 0;
    padding: 0 80px;
  }
}
@media (min-width: 1200px) {
  .hero-block__img {
    margin: 0 auto;
  }
}
.posts__items {
  padding-top: 25px;
}
.posts__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.posts {
  padding: 40px 0;
}
.posts__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  row-gap: 28px;
}
.posts__item:last-child {
  display: none;
}
.posts__header {
  margin: 10px 0;
}

@media (min-width: 768px) {
  .posts {
    padding: 60px 0;
  }
  .posts__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    column-gap: 20px;
  }
  .posts__item:last-child {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    column-gap: 20px;
  }
}
@media (min-width: 1200px) {
  .posts {
    padding: 70px 0;
  }
  .posts__items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 25px;
  }
  .posts__item:nth-child(2n+1) {
    order: 1;
  }
  .posts__item:nth-child(2n) {
    order: 2;
  }
}
.instagram__wrapper {
  display: grid;
}
.instagram__item {
  height: 301px;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}
.instagram__item--first {
  background-image: url("./img/inst_shot_1.png");
}
.instagram__item--second {
  background-image: url("./img/inst_shot_2.png");
}
.instagram__item--third {
  background-image: url("./img/inst_shot_3.png");
}
.instagram__item--fourth {
  background-image: url("./img/inst_shot_4.png");
}

.instagram {
  padding: 40px 0;
}
.instagram__wrapper {
  width: 100%;
  margin-top: 15px;
}
.instagram__item:first-child {
  display: block;
}

@media (min-width: 768px) {
  .instagram {
    padding: 50px 0;
    background-color: rgb(246, 246, 246);
  }
  .instagram__container {
    margin: 0 auto;
  }
  .instagram__wrapper {
    margin-top: 35px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
  }
  .instagram__item {
    display: block;
    height: 249px;
  }
  .instagram__item:last-child {
    display: none;
  }
}
@media (min-width: 1200px) {
  .instagram__wrapper {
    margin-top: 25px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .instagram__item {
    height: 285px;
  }
  .instagram__item:last-child {
    display: block;
  }
}
.footer {
  background-color: #000000;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0 auto;
}
.footer__icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.footer__icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 36px;
  height: 35px;
  border: 2px solid white;
  border-radius: 50%;
  margin: 0 3px;
}
.footer__icon--rss {
  border: 2px solid rgb(248, 144, 46);
}
.footer__icon--facebook {
  border: 2px solid rgb(57, 89, 159);
}
.footer__icon--twitter {
  border: 2px solid rgb(69, 176, 227);
}
.footer__icon--dribble {
  border: 2px solid rgb(217, 122, 176);
}
.footer__icon--pinterest {
  border: 2px solid rgb(204, 33, 44);
}

.footer {
  padding: 40px 0 50px;
}
.footer__wrapper {
  width: 303px;
}
.footer__icons {
  margin: 25px 0;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

@media (min-width: 768px) {
  .footer {
    padding: 60px 0;
  }
  .footer__wrapper {
    width: 684px;
  }
  .footer__icons {
    margin: 35px 0;
  }
  .footer__contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
}
* {
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  overflow-x: hidden;
  min-width: 320px;
}

.container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 0 25px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 80px;
  }
}