@import "variables";
@import "mixins";


.posts {
  &__subheader span {
    margin: 0 8px;
  }
}
.instagram__subheader {
  font-size: 12px;
  font-weight: 700;
  color: $color-main;
}

.footer {
  &__txt,
  &__address,
  &__tel,
  &__email {
    color: $color-light;
    font-weight: 400;
    text-align: center;
  }

  &__address span {
    margin-left: 10px;
  }

  &__tel span {
    margin-left: 10px;
  }
}

  .section__header {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    margin: 0;

    &--dark {
      color: $color-main;
    }

    &--light {
      color: #ffff;
    }
  }
  .posts__header {
    font-size: 14px;
    font-weight: 700;
    color: $color-main;
  }
  .posts__subheader {
    font-size: 11px;
    font-weight: 400;
    color: $color-second;
  }
  .posts__txt {
    font-size: 14px;
    font-weight: 400;
    color: $color-third;
    display: none;
    margin-top: 13px;
  }
  .instagram__subheader {
    display: none;
    text-transform: uppercase;
  }
  .footer {
    &__txt {
      font-size: 12px;
      line-height: 20px;
      margin-top: 8px;
    }

    &__address,
    &__tel,
    &__email {
      font-size: 14px;
      line-height: 24px;
    }
  }

@media (min-width: 768px) {
  .posts {
    &__txt {
      display: block;
    }
  }
  .instagram {
    &__header {
      @include flex(row, space-between, center)
    }
    &__subheader {
      display: block;
    }

  }
  .footer {
    &__txt {
      font-size: 16px;
      line-height: 28px;
      margin-top: 22px;
    }

    &__address,
    &__tel,
    &__email {
      margin-right: 10px;
    }

  }

}
