$color-main: rgba(78, 78, 78, 1);
$color-second: rgba(124, 124, 124, 1);
$color-third: rgba(92, 92, 92, 1);
$color-light: rgba(185, 185, 185, 1);
$color-background: rgba(246,246,246,08);

$color-rss: rgba(248, 144, 46, 1);
$color-facebook: rgba(57, 89, 159, 1);
$color-twitter: rgba(69, 176, 227, 1);
$color-dribble: rgba(217, 122, 176, 1);
$color-pinterest: rgba(204, 33, 44, 1);


