@import "variables";
@import "mixins";
@import "fonts";
@import "sections/_header";
@import "sections/_hero-block";
@import "sections/_posts";
@import "sections/_instagram";
@import "sections/_footer";

* {
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  overflow-x: hidden;
  min-width: 320px;
}

.container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 0 25px;
  }


@media (min-width: 768px) {
  .container {
    padding: 0 80px;
  }
}
